---
layout: default
---

<section class="article">
  <header class="article-header">
    <h1>{{ page.title }}</h1>
  </header>

  {{ content }}

  {% assign category_articles = "" | split: "" %}
  {% for article in site.pages %}
    {% if article.category == page.category and article.created and article.series == nil %}
      {% assign category_articles = category_articles | push: article %}
    {% endif %}
  {% endfor %}

  {% if category_articles.size > 0 %}
    <p class="section-label">Articles in this category</p>

    <ul class="article-list">
      {% for article in category_articles %}
        <li>
          <a href="{{ article.url | relative_url }}">{{ article.title }}</a>
          <span class="article-meta">{{ article.created | date: "%d %b %Y" }}</span>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</section>
